<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Ebook
            </h1><p class="lead">learn web dev front to back</p>
            <form action="/charge" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_axNq5LTsIJIZMPAlA6enqySi"
                    data-amount="100"
                    data-name="Fictional Product"
                    data-description="Fictional Ebook"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
                <script>
                    document.getElementsByClassName('stripe-button-el')[0]
                    .style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase for $1</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="http://www.pngmart.com/files/1/Book-PNG-File.png" class="img-fluid">
        </div>
    </div>
</section>