<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">Buy a Banana</h1>
            <p class="lead">You'll get it in your inbox!</p>
            <form action="/charge" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{stripePublishableKey}}"
                    data-amount="100"
                    data-name="Bananas"
                    data-description="Set of 4"
                    data-image="https://upload.wikimedia.org/wikipedia/commons/f/f7/Bananas.svg"
                    data-locale="auto">
                </script>
                <script>
                    document.getElementsByClassName('stripe-button-el')[0]
                    .style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-black btn-lg">Purchase for $1</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Bananas.svg" class="img-fluid">
        </div>
    </div>
</section>