<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">
        Your banana should be emailed to you within an hour!
    </p>
    <a href="/" class="btn btn-dark btn-lg">Go Home</a>
</section>